// 폰트: 나눔스퀘어
// Regular(400), Bold(700), Extra Bold(800), Light(300) 지원됩니다.
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

// 폰트 사이즈
$font-xxl: 28px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;
$font-s: 12px;